#Header{
  border: 1px solid rgb(185, 176, 176);
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#logo{
  color: black;
  margin-right: 20em;
  text-decoration: none;
}

#lene{
  display: flex;
  justify-content: center;
}

#about{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5em;
}

body{
  background-color: rgb(148, 191, 217);
}

.dialog{
  position: relative;
  z-index: 50;
}

.modal{
  position: fixed;
  inset: 0;
  display: flex;
  width: 100vw;
}

.panel{
  max-width: 25em;
  max-height: 40em;
  margin: auto;
  border: solid;
  background-color: white;
  padding: 1rem;
}

.title{
  font: bold;
  text-align: center;
}

.cancel{
  display: flex ;
  gap: 1rem;
}

.makeARequest{
  border: none;
  background-color: rgb(148, 191, 217);
}

.makeARequest:hover{
  opacity: 0.5;
}

.description{
  text-align: center;
}

.refMail{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.address{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}

.modalDescrip{
  text-align: center;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
}

.about{
  color: black;
  text-decoration: none;
}

.portfolio{
  color: black;
  text-decoration: none;
}