@tailwind base;
@tailwind components;
@tailwind utilities;

#Header{
  border: 1px solid rgb(185, 176, 176);
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#logo{
  color: black;
  margin-right: 10em;
}

#lene{
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5em;
}

#about{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5em;
}

body{
  background-color: rgb(148, 191, 217);
}